# Database
DATABASE_URL="postgresql://username:password@localhost:5432/giderse_gelir?schema=public"

# NextAuth (dev için kapalı)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"

